body {
	background-color: rgb(245,245,245);
}

.work-experience {
	background-color: rgb(255,255,255);`
	border: 0;
	margin: 10px 10%;
	padding: 50px;
}

.logo {
	height: 56px;
	width: 56px;
}

.title {
	font-weight: bold;
}

.company {
	line-height: 0px;
}

.link {
	text-decoration: none;
	color: black;
}

.date {
	font-style: italic;
}

.block {
	display: inline-block;
	margin-left: 50px
}
