#wave {
    background-image: url("img/beach.jpg");
      }

.background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
        
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
        
h1, h2, p  {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    color: whitesmoke;
}
        
h1 {
    font-style: bold;
    font-size: 4em;
}
 
a {
    text-decoration: none;
    color: whitesmoke;
}
        
h2 {
    font-style: italic;
}
        
.fa {
    float: right;
    font-size: 30px;
    color: whitesmoke;
    padding: 2em;
}
        
.fa:hover {
    color: lightgrey;
}
