html, body {
    height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

h1, h2, p {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    color: 	whitesmoke;
}

a {
	text-decoration: none;
    color: 	whitesmoke;
}

.background {
    height: 100%;
    background-image: url("img/film.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fa {
    color: whitesmoke;
    font-size: 30px;
    padding: 20px;
}

.fa:hover {
    color: silver;
}

#name-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 15%;
}

#job-title {
	font-style: italic;
    display: none;
}

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
}

.animated.slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
