.gallery {
    display: flex;
    padding: 2px;
    transition: .3s;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 33%; /* Default: 3 columns (33% each) */
}

/* @media (max-width: 768px) {
    .gallery__column {
        width: 50%; 
    }
} */

.gallery__link {
    margin: 0px;
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
    margin: 0px;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: .3s;
    opacity: 0;
    background-color: #eee; /* Optional placeholder */
}

.gallery__image.lazy-loaded {
    opacity: 1;
    transition: opacity 0.5s;
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
}

/* Disable hover effects when scrolling */
.no-hover .gallery__image:hover {
    transform: none;
    filter: none;
}

.no-hover .gallery__link:hover .gallery__caption {
    opacity: 0;
}

.no-hover .gallery:hover .gallery__image {
    filter: none;
}

